*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loyalty_status {
  background: #eee3d0;
  height: 100%;
  width: 100%;
}

.loyalty_flex_container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  align-content: start;
  gap: 1rem;
}

.loyalty_bronze_circle,
.loyalty_silver_circle,
.loyalty_gold_circle {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: space-between;
}

.loyalty_bronze_circle .early_access {
  align-items: center;
  aspect-ratio: 1;
  background: #e2503f;
  border-radius: 100%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  width: 9rem;
}

.loyalty_silver_circle .membership_products {
  align-items: center;
  aspect-ratio: 1;
  background: #e2503f;
  border-radius: 100%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  width: 9rem;
}

.loyalty_gold_circle .free_shipping {
  align-items: center;
  aspect-ratio: 1;
  display: flex;
  background: #18181b;
  border-radius: 100%;
  font-weight: bold;
  justify-content: center;
  width: 9rem;
}

.vertical_line {
  background: #e2503f;
  display: flex;
  flex-direction: row-reverse;
  height: 0.6rem;
  width: 2rem;
}

.vertical_line_free_shipping {
  background: #18181b;
  display: flex;
  flex-direction: column;
  height: 0.6rem;
  width: 2rem;
}

.loyalty_bronze_font {
  color: #aa9767;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.loyalty_silver_font {
  color: #c1c5c8;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

.loyalty_gold_font {
  color: #daa900;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 700px) {
}
